body {
    margin: 0px;
    background-color: rgb(135, 206, 230);
    font-family: "Happy Monkey", system-ui;
}

.main {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid hotpink;
}

h1 {
    font-size: 60px;
    text-shadow: 0px 0px 2px black;
}

#h3-head {
    text-shadow: 0px 0px 2px black;
    background-color: hotpink;
    font-size: 40px;
    padding: 8px 14px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 30px;
}

#h5-head {
    margin: 0px;
    text-shadow: 0px 0px 2px black;
    font-size: 20px;
    background-color: hotpink;
    padding: 8px 14px;
    border-radius: 5px;
}

.gift-div {
    text-align: center;
    margin: 80px 0px 20px 0px;
    color: white;
    text-shadow: 0px 0px 2px black;
    font-size: 20px;
}

.gift-pic,.gift2-pic,.gift3-pic,.gift4-pic {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 600px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url(images/index.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gift-pic:hover {
    background-image: url(images/Fun\ Dancing\ GIF.gif);
}

/* .gift2 {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 2px black;
    margin-top: 80px;
    font-size: 20px;
} */

.gift2-pic:hover {
    background-image: url(images/Fri-Yay\ GIF\ by\ Jimmy\ Joy.gif);
}

.gift3-pic:hover {
    background-image: url(images/nice.gif);
}

.gift4-pic:hover {
    background-image: url(images/james\ bond\ GIF.gif);
}

footer {
    text-align: center;
    margin: 80px 0px 20px 0px;
    color: white;
    text-shadow: 0px 0px 2px black;
    font-size: 20px;
}

span {
    border-bottom: 3px solid white;
}